.root {
  width: 256px;
  height: 100%;
  overflow-y: scroll;
}

.node_wrap {
  display: flex;
  gap: 4px;
}

.node_name {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.node_badge {
  font-size: 14px;
  font-weight: 400;
  color: #7084fa;
}
