.root {
  display: flex;
  align-items: start;
  gap: 4px;
  padding: 2px 4px;
  background: transparent;
  border: none;
  line-height: 1;
  cursor: pointer;

  &:hover {
    background: #fafafa;
  }
}

.title {
  font-size: 13px;
  line-height: 18px;
  text-align: left;
}

.read {
  color: #999999;
}

.unread {
  color: #333333;
}

.label {
  color: #ffffff;
  font-size: 10px;
  border-radius: 4px;
  padding: 4px;
}

.start_label {
  background: #ff6813;
}

.end_label {
  background: #3f4b5e;
}
